{% extends "base.html" %}

{% block title %}Последние статьи{% endblock %}

{% block content %}
        {% for article in page_obj %}
            <article>
                <ul>
                    <li>
                        Автор: {{ article.author.get_full_name }}
                    </li>
                    <li>
                        Дата публикации: {{ article.created|date:"d E Y" }}
                    </li>
                    <li>
                        Последнее изменение: {{ article.updated|date:"d E Y" }}
                    </li>
                    <li>
                        Категория: {{ article.category }}
                    </li>
                    <li>
                        Теги:
                        {% for tag in article.tags.all %}
                            {{ tag }},
                        {% endfor %}
                    </li>
                </ul>
                <p><h2>{{ article.title }}</h2></p>
                <p>{{ article.text }}</p>
            </article>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    {% include 'includes/paginator.html' %}
{% endblock %}