{% extends "base.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}
{% load thumbnail %}
<div class="row">
  <div class="col-sm-9">
    <h1 class="card-header">О проекте</h1>
  </div>
  <div class="col-sm-3">
    <div class="card bg-secondary mb-3">
      <div class="card-header text-center">Все теги</div>
      <div class="card-body">
      {% for tag in tags %}
        <a href="{% url 'articles:articles_by_tag' tag.slug %}"><span class="badge rounded-pill" style="background-color:{{ tag.background_color }}; color:{{ tag.text_color }}">{{ tag }}</span></a>
      {% endfor %}
      </div>
    </div>
    <div class="card bg-secondary mb-3">
      <div class="card-header text-center">
        Полезные ссылки
      </div>
      <div class="card">
         <button type="button" class="btn btn-secondary">Ссылка1</button>
         <button type="button" class="btn btn-secondary">Ссылка2</button>
         <button type="button" class="btn btn-secondary">Ссылка3</button>
         <button type="button" class="btn btn-secondary">Ссылка4</button>
         <button type="button" class="btn btn-secondary">Ссылка5</button>
         <button type="button" class="btn btn-secondary">Ссылка6</button>
         <button type="button" class="btn btn-secondary">Ссылка7</button>
         <button type="button" class="btn btn-secondary">Ссылка8</button>
       </div>
    </div>
  </div>
</div>
{% endblock %}
