{% extends "base.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}
{% load thumbnail %}
  <h1 class="card-header">О проекте</h1>
  <p>Добро пожаловать в рабочую тетрадь backendpages.ru.</p>
  <p>Данный ресурс содержит перенесенные в онлайн конспекты, которые составлял владелец ресурса в процессе изучения backend-разработки на Python.</p>
  <p>Здесь будут постепенно выкладываться приведенные в порядок заметки автора.</p>
  <p>Ограничений по стеку, которому будут посвящены статьи, нет, соответственно, темы, разделы и теги в будущем будут расширяться.</p>
{% endblock %}
