{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
{% load thumbnail %}
<div class="card">
  <div class="card-body">
    Фильтр по тегу: <a href="{% url 'articles:articles_by_tag' tag.slug %}"><span class="badge rounded-pill" style="background-color:{{ tag.background_color }}; color:{{ tag.text_color }}">{{ tag }}</span></a>
  </div>
</div>
<br>
{% for article in page_obj %}
<div class="card mb-3">
  <h3 class="card-header">{{ article.title }}</h3>
  <div class="card-body">
    {% if article.category %}
      <h6><a href="{% url 'articles:articles_by_category' article.category.slug %}" class="card-link">Раздел: {{ article.category }}</a></h6>
    {% endif %}
    {% for tag in article.tags.all %}
      <a href="{% url 'articles:articles_by_tag' tag.slug %}"><span class="badge rounded-pill" style="background-color:{{ tag.background_color }}; color:{{ tag.text_color }}">{{ tag }}</span></a>
    {% endfor %}
  </div>
  {% thumbnail article.image "900x300" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}">
  {% endthumbnail %}
  <div class="card-body">
    <p class="card-text">{{ article.text|truncatechars:500|safe }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{% url 'articles:article' article.id %}" class="card-link">Читать</a>
    {% if user.is_superuser %}
      <a href="{% url 'articles:article_edit' article.id %}">
        Редактировать
      </a>
    {% endif %}
    </li>
  </ul>
  <div class="card-footer text-muted">
    <small>Публикация: {{ article.created }}</small>,
    <small>последнее обновление: {{ article.updated }}</small>
  </div>
</div>
{% if not forloop.last %}<br>{% endif %}
{% endfor %}
{% include 'includes/paginator.html' %}
{% endblock %}
