<nav class="navbar navbar-light" style="background-color: #0085A1">
    <div class="container">
        <a class="navbar-brand" href="{% url 'articles:index' %}">
            {% load static %}
            <img src="{% static 'img/logo.gif' %}" width="100" height="100" class="d-inline-block align-center" alt="">
            <span style="color:white">BACKENDPages</span>
        </a>
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% if view_name == 'about:author' %}active{% endif %}"
                href="#"
                >
                    О проекте
                </a>
            </li>
        </ul>
        {% endwith %}
    </div>
</nav>